body {
    padding-top: 60px;
    background-image: url("../img/background.jpg");
}

p {
    color: whitesmoke;
    font-family: consolas;
}

h1 {
    color: whitesmoke;
    font-family: fantasy;
    text-shadow: 2px 2px 4px #000000;
}

.img-thumbnail{
    height: 84%;
    width: 84%;
    align: "center";
}

.JabilPic{
    height: 40%;
    width: 40%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.JabilLogo{
    height: 30%;
    width: 30%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LockheedLogo {
    height: 40%;
    width: 40%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LockheedPic {
    height: 50%;
    width: 50%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.UFlogo {
    height: 50%;
    width: 50%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.IPPDlogo{
    height: 25%;
    width: 25%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.icon {
    height: 20%;
    width: 20%;
}



